  <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"><title>Quiz</title>
		<link rel='stylesheet' href='stylesheets/style.css' />
	</head>
	<body>
		<form method="get" action="/author">
      	<img src='images/foto.jpg' alt='foto' width="500" height="300" />

  	<footer>
    <b>Patricia Palacios - <em>patricia.palaciosg@alumnos.upm.es</em></b>
    <b>Alberto Rico - <em>a.ricop@alumnos.upm.es</em></b>
	</footer>
		</form>
	</body>
</html>
