<head>
	<h2>Buscar preguntas</h2>
</head>

<body>
	<form method="get" action="/quizes/search">
		<input type="text" name="buscador" value="Buscar..."/>
		<input type="submit" value="Enviar">
	</form>
</body>